@tailwind base;
@tailwind components;
@tailwind utilities;

.explore-btn {
    position: relative; 
    width: 100%; 
    height: 100%; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    color: #fff;
    border: 4px solid #fff;  
    background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);  background-size: 100vw 100vw; 
    transition: 0.5s; 
}

.explore-btn:hover {
    color: black;
    cursor: pointer; 
    background-position: 50vw 0; 
}

.explore-text {
    position: relative;
    top: 30%;
    text-align: center;
}

.explore-text:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5%;
    left: 20%;
    background-color: black;
    transform-origin: center;
    transition: transform 0.5s ease-out;
}
  
.explore-btn:hover .explore-text:after {
    transform: scaleX(1);
    transform-origin: center;
}


.resume-btn {
    position: relative; 
    width: 100%; 
    height: 100%; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    border: 4px solid;  
}

.resume-text {
    position: relative;
    top: 30%;
    text-align: center;
}

.resume-text:after {
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5%;
    left: 35%;
    background-color: black;
    transform-origin: center;
    transition: transform 0.5s ease-out;
}
  
.resume-btn:hover .resume-text:after {
    transform: scaleX(1);
    transform-origin: center;
}

.card {
    width: 500px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.card:hover .card__caption {
    top: 50%;
    transform: translateY(-50%);
}

.card:hover .card__thumb::after {
    top: 0;
}

.card:hover .card__snippet {
    margin: 20px 0;
}

.card__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

.card__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255 ,255 , 0) 100%);
    transition: .3s; 
}

.card__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: .3s;
}

.card__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: .5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
}

.slideIn {
    top: 0;
    animation: slideIn 0.25s ease-out;
    animation-fill-mode: forwards;
}

.slideOut {
    animation: slideOut 0.25s ease-in;
    animation-fill-mode: forwards;
}



@keyframes slideIn {
    0% {
        opacity: 0.8;
        transform: translate(-40rem, 0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0.8;
        transform: translate(-40rem, 0);
    }
  }

@media only screen and (min-width:1280px) {
    .card__thumb::after {
        top: calc(100% - 140px);
    }
    .card__caption {
        top: calc(100% - 100px);
        transform: unset;
    }
    .card__snippet { 
        margin: 120px 0;
    }
    /*
    .card__image {
        transition: .5s ease-in-out;
    }
    .card:hover .card__image {
        transform: translateY(-10px);
    }
    */
}

@media (max-width: 768px) { /*mobile size*/
    .navbar-desktop {
        display: none;
    }
    .explore-btn {
        background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);  background-size: 300vw 100vw; 
    }
    .explore-btn:hover {
        background-position: 70vw 0; 
    }
    .explore-text:after {
        width: 70%;
        transform: scaleX(0);
        height: 2px;
        bottom: 5%;
        left: 15%;
    }
}

@media (max-width: 1024px) {
    .projects-desktop {
        display: none;
    }
    .project-card-description {
        height: 0px;
        overflow: hidden;
        transform: scaleY(0);
        opacity: 0;
        transition: all 500ms ease;
    }
    .project-card-description-active {
        transform: scaleY(1);
        opacity: 1;
        transition: all 500ms ease-in;
    }
}

@media (min-width: 768px) { /*desktop size*/
    .navbar-mobile {
        display: none;
    }

}

@media (min-width: 1024px) {
    .projects-mobile {
        display: none;
    }
}

