@tailwind base;
@tailwind components;
@tailwind utilities;

.explore-btn {
    -webkit-text-stroke: 0.1vw #fff;
    position: relative; 
    width: 100%; 
    height: 100%; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    color: #fff;
    border: 4px solid #fff;  
    background: -webkit-linear-gradient(0deg, transparent 50%, #fff 50%);  background-size: 100vw 100vw; 
    transition: 0.5s; 
}
.explore-btn:hover {
    color: black; 
    cursor: pointer; 
    background-position: 50vw 0; 
}
.explore-text:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 30%;
    left: 20%;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .explore-btn:hover .explore-text:after {
    transform: scaleX(1);
    transform-origin: center;
  }